
@media( min-width: 1200px ){
    .page-container{
        width: 1140px;
    }
}

@media( min-width: 992px ) and ( max-width: 1199px ){
    .page-container{
        width: 960px;
    }
}

@media( min-width: 768px ) and ( max-width: 991px ){
    .page-container{
        width: 720px;
    }
}

@media( min-width: 576px ) and ( max-width: 767px ){
    .page-container{
        width: 540px
    }
}


@media( max-width: 575px ){


    .footer-section{
        height: 100px;
    }
    .footer-section img{
        width: 200px;
    }
    .page-container{
        width: 100%;
    }
    .header-logo{
        font-size: 23px;
    }

    .modal-content{
        width: 80%;
        margin-top: 200px;
    }

    .layout img{
        width: 85%;
    }

    .details-photo{
        width: 85%;
    }
    .layout-list-photos img{

        width: 85%;
    }
    .add-to-album {
        width: 85%;
    }
    .img-wrapper{
        display: flex
    }
    .img-wrapper button{
        width: 85%;
    }

    .albums-header-button{
        font-size: 9.5px;
        padding: 5px 10px;
        right: 10px;
        width: 90px;
    }

    .new-album-input{
        width: 100%;
        padding: 10px 0;
    }

    .min-width-150-large-window{
        min-width: 0;
    }

    .logout-header-button{
        font-size: 11px;
        padding: 7px 10px;
        right: 10px;
        width: 30px;
        left: 20px;
    }
}
