@font-face {
    font-family: "Codec";
    font-weight: 600;
    font-style: normal;
    font-display: auto;
    src: local("Codec"),
    url("../../assets/fonts/Codec-Cold-ExtraBold-trial.ttf") format("truetype");
}


@font-face {
    font-family: "Codec";
    font-weight: 500;
    font-style: normal;
    font-display: auto;
    src: local("Codec"),
    url("../../assets/fonts/Codec-Cold-Bold-trial.ttf") format("truetype");
}

@font-face {
    font-family: "Codec";
    font-weight: 300;
    font-style: normal;
    font-display: auto;
    src: local("Codec"),
    url("../../assets/fonts/Codec-Cold-Regular-trial.ttf") format("truetype");
}

#app {
    font-family: Arial, serif;
    font-weight: 300;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    color: black;
}

body{
    margin: 0;
}

.header{
    height: 50px;
    background: black;
    color: white;
}
.justify-content-center{
    justify-content: center;
}

.flex{
    display: flex;
}

.align-vertical{
    display: flex;
    justify-content: center;
    align-items: center;
}

h1,h2,h3,h4,h5{
    margin: 0;
}

input{
    border-radius: 0;
    border: 2px solid black;
    padding: 10px 15px;
    width: 240px;
}

button{
    background: black;
    color: white;
    padding: 2px 30px;
    font-weight: 600;
    cursor: pointer;
}

.button-line{

    background: transparent;
    color: black;
    border: 2px solid black;
}

form .form-group{
    margin-bottom: 30px;
}

.validation{
    color: red;
    font-size: 15px;
    margin-top: 10px;
    font-weight: 500;
}

.hide{
    display: none;
}

.page-container{
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 50px;
    height: 100%;
}

.mt-1{
    margin-top: 5px;
}
.mt-2{
    margin-top: 10px;
}
.mt-3{
    margin-top: 15px;
}
.mt-4{
    margin-top: 20px;
}
.mt-5{
    margin-top: 30px;
}

.mr-1{
    right: 5px;
}
.mr-2{
    right: 10px;
}
.mr-3{
    right: 15px;
}
.mr-4{
    right: 20px;
}
.mr-5{
    right: 30px;
}

.mb-1{
    margin-bottom: 5px;
}
.mb-2{
    margin-bottom: 10px;
}
.mb-3{
    margin-bottom: 15px;
}
.mb-4{
    margin-bottom: 20px;
}
.mb-5{
    margin-bottom: 30px;
}

.ml-1{
    margin-left: 5px;
}
.ml-2{
    margin-left: 10px;
}
.ml-3{
    margin-left: 15px;
}
.ml-4{
    margin-left: 20px;
}
.ml-5{
    margin-left: 30px;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    font-weight: 500;
    font-family: Arial, serif;
    color: #aaa;
    opacity: 1; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
    font-weight: 500;
    color: #aaa;
}

::-ms-input-placeholder { /* Microsoft Edge */
    font-weight: 500;
    color: #aaa;
}
.page-section{
    margin-top: 80px;
}

.albums-header-button{
    position: absolute;
    right: 0;
    border: 1px solid white;
    background: black;
    color: white;
    font-weight: 700;
    padding: 5px 20px;
    text-align: center;
    -webkit-appearance: none;
    -moz-appearance: none;
}


.logout-header-button{
    position: absolute;
    left: 0;
    border: 1px solid white;
    padding: 5px 20px;
}

.relative{
    position: relative;
}

.on-top{
    z-index: 9999;
}



select{
    width: 150px;
    border: 2px solid black;
    padding: 5px 10px;
}

.pointer{
    cursor: pointer;
}

/* Login */
.login-page .page-section h1{
    letter-spacing: -2px;
    margin-bottom: 10px;
}

.login-page .page-section h3{
    font-weight: 500;
}

.login-page .page-section .login-form{
    margin-top: 30px;
}

.login-page .page-section label{
    text-transform: capitalize;
    font-weight: bold;
    margin-bottom: 5px;
    display:block;
}

.login-page .footer-section{
    background: black;
    margin-top: 150px;
    position: relative;
    height: 150px;
}

.login-page .footer-section img{
    position: absolute;
    left: 50%;
    bottom: 0;
    width: 300px;
    transform: translate(-50%, -50px);
}

/*Gallery*/

.layout{
    -moz-column-width: 15em;
    -webkit-column-width: 15em;
    -moz-column-gap: 1em;
    -webkit-column-gap: 1em;
}

.layout img{
    display: inline-block;
    margin: 0.25rem;
    padding: 1rem;
    width: 100%;
    background: white;
}


.add-to-album{
    width: 100%;
    position: absolute;
    padding: 10px 0;
    left: 20px;
    bottom: 20px;
}


.overlay {
    left: 0;
    top: 0;
    z-index: 9999;
    width: 100%;
    height: 100%;
    position: fixed;
    background: RGB(0,0,0, 0.7);
}

.overlay__inner {
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    position: absolute;
}

.overlay__content {
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
}

.spinner {
    width: 75px;
    height: 75px;
    display: inline-block;
    border-width: 2px;
    border-color: rgba(255, 255, 255, 0.05);
    border-top-color: #fff;
    animation: spin 1s infinite linear;
    border-radius: 100%;
    border-style: solid;
}

@keyframes spin {
    100% {
        transform: rotate(360deg);
    }
}

/*Details*/

.photo-description .upload{
    font-size: 12px;
    font-weight: 700;
}

.grey{
    color: grey;
}


/*Modal*/

.modal {
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 500px;
    height:300px;/* Could be more or less, depending on screen size */
}

.modal-body{
    margin-top: 50px;
}

.tab{
    cursor: pointer;
}

.new-album-input{
    font-size: 23px;
    text-align: center;
    color: black;
    font-weight: 700;
    font-family: Arial, serif;
}
.new-album-input, .new-album-input:focus-visible{
    border: none;
    outline: none;
}

.new-album-input::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    font-weight: 700;
    font-family: Arial, serif;
    font-size: 23px;
    text-align: center;
    background: white;
    color: black;
    opacity: 1; /* Firefox */
}

.new-album-input:-ms-input-placeholder { /* Internet Explorer 10-11 */
    font-weight: 700;
    font-size: 23px;
    color: black;
}

.new-album-input::-ms-input-placeholder { /* Microsoft Edge */
    font-weight: 700;
    font-size: 23px;
    color: black;
}

.min-width-150{
    min-width: 150px;
}


